* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.menu-logo img {
  height: 24px;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.search-bar input {
  width: 50%;
  padding: 5px;
}

.search-bar button {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  height: 29px;
}

.search-bar button img {
  height: 100%;
}

.user-options {
  display: flex;
  align-items: center;
}

.user-options img {
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}

main {
  display: flex;
  padding: 20px;
}

.video-content {
  flex-grow: 1;
  max-width: 70%;
}

.video-content h2 {
  margin: 15px 0;
}

.video-details {
  display: flex;
  align-items: center;
}

.video-details img {
  height: 32px;
  margin-right: 10px;
}

.video-details button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.video-details button img {
  height: 24px;
  margin-right: 5px;
}

.description {
  margin-top: 15px;
}

.related-videos {
  max-width: 30%;
  margin-left: 20px;
}

.related-video {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.related-video img {
  width: 120px;
  height: 67px;
  margin-right: 10px;
}